.analytics {
	display: flex;
	flex-direction: column;
	gap: $spacingMd;
}

.mainSection {
	background-color: $white;
	padding: $spacingLg;
	box-shadow: $shadowMd;
	width: 100%;
	border: 1px solid;
	border-color: $gray4;
	border-radius: $radiusLg;
	display: flex;
	flex-direction: column;
	gap: $spacingSm;
}

.metricsCard {
	max-width: 100%;
	min-width: rem(190px);
	align-items: center;
	text-wrap: nowrap;
	gap: $spacingSm;
	border-radius: $radiusMd;
	box-shadow: $shadowSm;
	display: flex;
	padding: $spacingLg;
}

.markup {
	border-radius: $radiusMd;
	padding: rem(10px) rem(10px);
	margin: 0;

	background-color: $gray0;
	font-weight: 500;
	font-size: rem(14px);
	color: $dark6;
	overflow: hidden;
	max-height: rem(300);

	p {
		margin: 0;
	}
}
