.link {
	justify-content: space-between;
	display: flex;
	align-items: center;
	height: 40;
	background: $indigo6;
	border-bottom: 1px solid;
	border-color: $indigo8;
	cursor: pointer;
	padding: $spacingXs $spacingMd;
	border-radius: $radiusSm;

	&:hover {
		background: $indigo7;
	}
}
