:root {
	--response-option-bg: #{linear-gradient(180, $indigo6, $indigo7)};
	--response-checked-icon: #{$indigo6};
	--response-input-bg: #{$indigo0};
	--response-input-border: #{$indigo6};
}

.box {
	padding: $spacingMd;
	box-shadow: $shadowMd;
	width: 100%;
	background: $white;
	border: 1px solid $gray5;
	border-radius: rem(12px);
	p {
		color: $dark8;
		font-size: rem(16px);
		font-weight: 500;
	}
	input,
	textarea {
		background-color: $gray1;
		&:focus {
			border-color: var(--response-input-border);
		}
	}
}

.box.question {
	textarea {
		border-radius: $radiusMd;
	}
}

.options {
	display: flex;
	gap: rem(8px);
	@media (max-width: $mantine-breakpoint-sm) {
		flex-wrap: wrap;
	}
}

.box.option {
	border: 1px solid $gray4;
	background: var(--response-option-bg);
	padding: $spacingXs;
	p {
		color: $white;
	}
	display: flex;
	gap: $spacingSm;
	align-items: center;
	border-radius: $radiusLg;
}

.box.submit {
	display: flex;
	flex-direction: column;
	gap: rem(10px);
}

.title {
	font-size: rem(20px);
	font-weight: 500;
	color: $gray9;
	margin-bottom: $spacingMd;
}

.checkbox {
	display: flex;
	div {
		align-self: center;
	}
	input {
		border-radius: 200px;
	}
	input:checked {
		background-color: $white;
	}
	input:checked + svg {
		width: rem(10);
		height: rem(10);
		color: var(--response-checked-icon);
	}

	label {
		color: $white !important;
	}
}

.option.true,
.option.false {
	width: 100%;
}

.option.right {
	background: $green7;
	border: 1px solid $green3;
	.checkbox {
		input {
			background-color: $green0;
		}
		input:checked + svg {
			color: $green6;
		}
		input:focus,
		input:checked {
			border: 1px solid $green7;
		}
	}
}
.option.wrong {
	background: $red7;
	border: 1px solid $red3;
	.checkbox {
		input {
			background-color: $red0;
		}
		input:checked + svg {
			color: $red6;
		}
		input:focus,
		input:checked {
			border: 1px solid $red7;
		}
	}
}
