.sections {
	display: flex;
	flex-direction: column;

	.container:first-child {
		padding-top: rem(120px);
		padding-bottom: rem(100px);
	}
}

.container {
	padding-top: rem(120px);
	padding-bottom: rem(120px);
}

.platform {
	background: linear-gradient(to right, $indigo8, $violet6);
	background-clip: text;
	color: transparent;
}

.heading {
	flex-direction: column;
	gap: $spacingXl;
	p {
		max-width: 80%;
	}
}
