.sections {
	display: flex;
	flex-direction: column;
	margin-top: rem(50px);
}

.container {
	padding-top: rem(100px);
	padding-bottom: rem(100px);
}

.platform {
	background: linear-gradient(to right, $indigo8, $violet6);
	background-clip: text;
	color: transparent;
}

.heading {
	flex-direction: column;
	gap: $spacingXl;
	p {
		max-width: 80%;
	}
}
